{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ post.title }} | Editing | {{ username }} {{ parent() }}
{% endblock %}

{% block body %}

    <p id="autosave-alert"></p>

    {% include 'AppBundle:Post:form.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/javascripts/post/edit.js') }}"></script>
{% endblock %}
