{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ post.title }} | {{ username }} {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ post.title }}
        {% if is_granted('edit', post) %}
            <small>
                <a
                        href="{{ path('post_edit', {
                            'username': username,
                            'slug': post.slug
                        }) }}"
                >
                    Edit
                </a>
            </small>
        {% endif %}
    </h1>
    {{
        post.body
            |markdown
            |html_headings_increment
            |html_purify
    }}
    {#post.body|markdown|html_headings_increment|html_purify#}
    {#{{ post.body|markdown|html_headings_increment|html_purify }}#}
    {#post.body|markdown|html_purify#}
    {#{{ post.body|markdown|html_purify }}#}
    {#post.body|markdown|html_headings_increment#}
    {#{{ post.body|markdown|html_headings_increment }}#}
    {#post.body|markdown#}
    {#{{ post.body|markdown }}#}
    {#post.body#}
    {#{{ post.body }}#}
{% endblock %}
