{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ owner.username }} {{ parent() }}
{% endblock %}

{% block body %}
    {% if gravatar_exists(owner.emailCanonical) %}
        <img src="{{ gravatar(owner.emailCanonical, null, null, null, true) }}" />
    {% else %}
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {% endif %}
    <div class="list-group">
        {% for post in posts %}
                <a
                        href="{{ path('post_edit', {'slug': post.slug, 'username': owner.username}) }}"
                        class="list-group-item"
                >
                    {{ post.title }}
                </a>
        {% endfor %}
    </div>
{% endblock %}
